h1{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.jumbotron{
    background-color: #bbe2f1;
}

.btn btn-outline-primary{
    margin-bottom:50%; 
}


.jumbotron h4{
    font-size:40px; 
    margin-left: 10%; 
    font-family: 'Kaushan Script', cursive;
}

.context p{
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
    margin-left: 20%; 
    font-size:19px;
}

/*  update.html and create.html  button  */
.submitbut{
    margin-left: 50%;
}

/* delete.html button */
.deletebut{
    margin-left: 45%;
    margin-top: 20%;    
}



.alert p{
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
    
    font-size:19px;
}