{% extends 'base.html' %}

{%block content %}
<form action="" method="POST">{% csrf_token %}
    <div class="context">
        <p class="mt-4 mb-5 border-bottom">タイトル：{{form.title}}</p>
        <p style="margin-left: 20%; font-size:19px;">内容</p>
        <p class="mt-4 mb-5 border-bottom">{{form.memo}}</p>
        <p class="mt-4 mb-5 border-bottom">重要度：{{form.priority}}</p>
        <p class="mt-4 mb-5 border-bottom">日時：{{form.duedate}}</p>

        <script>
            $(function () {
                // 日付は、年-月-日 の形式でお願いする。
                let dateFormat = 'yy-mm-dd';
                $('#id_created_at').datepicker({
                    dateFormat: dateFormat
                });
            });
        </script>
        
    </div>
    <div class="submitbut">
        <input type="submit" class="btn btn-outline-primary" role="button" value="作成する">
    </div>


</form>

{% endblock content %}